.homepage {
  width: 100%;
  height: 100vh;
  // background-image: url("blob-scene-haikei.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
  top: 0;
  // background-attachment: local;
}
.background {
  background-image: url("blob-scene-haikei.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.ban-body {
  padding: 70px;
  padding-left: 90px;
}

.ban-body h1 {
  font-family: "Manrope", sans-serif;
  font-size: 75px;
  font-weight: 700;
  color: rgb(63, 40, 75);
}

p {
  font-size: 30px;
  font-family: 'Manrope', sans-serif;
  padding-top: 30px;
  padding-right: 250px;
  color: rgb(43, 38, 70);
}

.my_container {
  padding-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  // padding-left: ;
}

u {
  color: rgb(167, 63, 138);
  text-decoration: none;
}

.animation img {
  width: 100%;
  padding-right: 100px;
  padding-top: 60px;
}
