<div class="bg-white p-4 w-75 h-100 m-3">
  <h3 class="mb-3 text-secondary">Activity</h3>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to "All", "#", class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Pending", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Resolved", "#", class: "nav-link" %>
    </li>
  </ul>

  <%# CARRD GRID BELOW %>


</div>
