<div class="text-center text-white" style="background-color: #21081a;">

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Made with ❤️ at <a class="text-white" href="https://lewagon.com/">LeWagon</a> in Amsterdam
  </div>
  <!-- Copyright -->
</div>
