<div class="bg-white p-4 w-25 m-3 rounded-3 shadow-lg">
  <h3 class="mb-3">Search for a course</h3>
  <%= simple_form_for(root_path) do |f| %>
    <%= f.input :location %>
    <%= f.input :category, :collection => %w[Learn_Language IT Fighting] %>
    <%= f.submit :Search, class: "btn btn-primary w-100 mt-2" %>
  <% end %>
</div>
