<%= render "shared/navbar" %>
<div class="banner" style="background-image:radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FA00FFFF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(75% 75% at 50% 50%, #00FFFFFF 3%, #073AFFFF 97%)">
   <div class="ban-body">
    <h1> Let's make somebody's life better. Together. </h1>
    <p> Become a coach to offer free coaching sessions to refugees. Become a mediary to a new life for somebody trying to settle in a foregn setting. </p>
  </div>
</div>
