<div class="background"></div>
<div class="homepage" style=" width: 100%; vertical-align: middle;">
  <div class="my_container">

  <div class="row">

    <div class="col-8">
      <div class="ban-body">
        <h1> Let's make someone's life better. <u>Together.</u> </h1>
        <p> Browse through our library of courses and coaching lessons. Learn valuable skills, for work, life and everything in between </p>
        <p> Become a coach to offer free coaching sessions to refugees. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="animation">
        <%= image_tag("illustration.svg") %>
      </div>
    </div>
    <div class="col-8">
      <div class="info">
        <div class="bg-white p-4 m-3 rounded shadow-lg" style="width: 400px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> lasnfljadfgn.adj gnadg nadkjgv adg bd,g badg</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="info">
        <div class="bg-white p-4 m-3 rounded shadow-lg" style="width: 400px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> lasnfljadfgn.adj gnadg nadkjgv adg bd,g badg</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="info">
        <div class="bg-white p-4 m-3 rounded shadow-lg" style="width: 400px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> lasnfljadfgn.adj gnadg nadkjgv adg bd,g badg</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="info">
        <div class="bg-white p-4 m-3 rounded shadow-lg" style="width: 400px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> lasnfljadfgn.adj gnadg nadkjgv adg bd,g badg</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
