<div class="row">
  <div class="row col-8">
    <% @lessons.each do |lesson| %>
      <div class="col-4">
        <div>
          <%= link_to lesson_path(lesson) do %>
          <%= render "shared/card_index", lesson: lesson %>
          <% end %>
        </div>
      </div>
     <% end %>
  </div>
  <div class="row col-4">

  </div>
</div>
