.navbar {
  background-color: transparent !important;
  z-index: 1000;
}

.navbar-lewagon {
  background-color: transparent !important;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 25px !important;
  color: rgb(63, 40, 75) !important;
}

.nav-item {
  color: rgb(50, 32, 59);
  margin-left: 20px;
}

.nav-link {
  color: rgb(50, 32, 59) !important;
}

.nav-item :hover {
  color: rgb(77, 107, 158) !important;
}
